@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}