@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Outfit';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Outfit-VariableFont_wght.woff2') format('woff2');
}

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: weight;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.intro-fadeout {
  @apply -translate-y-4 opacity-0;
}

.intro-fadein {
  @apply translate-y-0 opacity-100;
}

.card-fadeout {
  @apply scale-95 translate-y-4 opacity-0;
}

.card-fadein {
  @apply scale-100 translate-y-0 opacity-100;
}

.home-fadeout {
  @apply opacity-0;
}

.home-fadein {
  @apply opacity-100;
}

.widget-banner-fadeout {
  @apply opacity-0 blur-lg grayscale;
}

.widget-banner-fadein {
  @apply opacity-100 blur-0 grayscale-0;
}

.song-fadeout {
  @apply opacity-0;
}

.song-fadein {
  @apply opacity-100 duration-200;
}

.image-fadein {
  @apply opacity-100 blur-0;
}

.image-fadeout {
  @apply opacity-0 blur-xl;
}